.quizPage {
  background: var(--gray1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
}

.quizPage h1 {
  color: var(--white);
  text-align: center;
  height: 80px;
}

.loading {
  margin-top: var(--spacings10);
}

.disclaimer {
  max-width: 140px;
  color: var(--text-color4);
  text-align: center;
  text-transform: uppercase;
}
.disclaimer span {
  color: inherit;
}

.answers {
  display: flex;
  gap: var(--spacings5);
  width: 90%;
}

.answers button {
  width: 100%;
}
