.button {
  text-align: center;
  padding: var(--spacings4) var(--spacings6);
  color: var(--white);
  border-radius: 1px;
  cursor: pointer;
}

.primary {
  background: var(--black);
  box-shadow: 0px 2px 0px var(--gray3);
}

.secondary {
  background: none;
  border: 1px solid var(--white);
}
